<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBW_p4J0Pn-LJxNFwxC-6o-yJh0vBwJMmI</string>
	<key>GCM_SENDER_ID</key>
	<string>900453111910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spadeProject</string>
	<key>PROJECT_ID</key>
	<string>spade-fb</string>
	<key>STORAGE_BUCKET</key>
	<string>spade-fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900453111910:ios:4b9ba57e61740a8c4875a7</string>
</dict>
</plist>